#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_RZV_DMAC
	tristate "RZV2H DMAC test application"
	default n
	depends on RZV_DMAC
	---help---
		Enable the RZ/V2H CR8-0 DMAC polling memory-copy test. It uses
		channel 0 with one aligned 1 KiB, 4-byte incrementing transfer.
		Hardware triggers, callbacks, and peripheral transfers are not
		part of this example.

if EXAMPLES_RZV_DMAC

config EXAMPLES_RZV_DMAC_PROGNAME
	string "Program name"
	default "rzv_dmac"
	---help---
		This is the name of the program that will be used when the NSH ELF
		program is installed.

config EXAMPLES_RZV_DMAC_PRIORITY
	int "RZV DMAC test task priority"
	default 100

config EXAMPLES_RZV_DMAC_STACKSIZE
	int "RZV DMAC test stack size"
	default DEFAULT_TASK_STACKSIZE

endif
